<ion-content [fullscreen]="true">
  <h1>Capacitor MIDI</h1>

  <h2>Devices:</h2>
  <div class="device" *ngFor="let device of devices; let i = index">{{device}} <button class="button" (click)="openDevice(i)">open</button></div>
  <div class="device" *ngIf="devices && devices.length===0">no devices found</div>
  <button class="button" (click)="updateDevices()">update</button>
  <div *ngIf="opened">Device opened</div>

  <h2>Messages:</h2>
  <div *ngFor="let message of messages">
    <div>{{msgToString(message)}}</div>
  </div>
  <div *ngIf="messages && messages.length===0">no messages found</div>
  <button class="button" (click)="clearMessages()">clear</button>
</ion-content>
